<section class="bg-yellow-400 mt-16 flex">
    <div class="max-w-6xl mx-auto py-12">
        <div class="">
            <img src="img/logo-mapa-verde 2.png" alt="Logo de Mapa Verde en color violeta">
        </div>
    </div>
</section>