<header class="bg-white relative z-10 shadow">
    <nav class="max-w-7xl mx-auto px-2 sm:px-6 lg:px-8 flex items-center justify-between h-20 z-10">
        
        <div class="flex-shrink-0 h-12 py-28 px-6 bg-purple-900 z-10">
            <a href="/">
                <img class="h-12 w-auto" src="/img/logo-mapa-verde.svg" alt="logo de Mapa Verde en amarillo">
            </a>
        </div>

        <div class="hidden md:block">
            <ul class="ml-10 flex items-baseline space-x-4">
                <li><a href="/nosotros" class="text-gray-900 hover:text-gray-700">Nosotros</a></li>
                <li><a href="/agente-verde" class="text-gray-900 hover:text-gray-700">Agente Verde</a></li>
                <li><a href="/actividades" class="text-gray-900 hover:text-gray-700">Actividades</a></li>
                <li><a href="/iniciativas" class="text-gray-900 hover:text-gray-700">Iniciativas</a></li>
                <li><a href="/cursos" class="text-gray-900 hover:text-gray-700">Cursos</a></li>
                <li><a href="/recursos" class="text-gray-900 hover:text-gray-700">Recursos</a></li>
            </ul>
        </div>
        <!-- Buttons -->
        <div class="ml-auto flex items-center space-x-4">
            <!-- Dropdown Button "Quiero sumar" -->
            <div class="relative group">
                <button class="bg-green-500 text-white px-4 py-2 rounded-md hover:bg-green-600 focus:outline-none focus:ring-2 focus:ring-green-300">
                    Quiero sumar <span class="ml-2">▼</span>
                </button>
                <!-- Dropdown Menu -->
                <div class="absolute hidden group-hover:block right-0 mt-2 w-48 bg-white rounded-md shadow-lg py-2">
                    <a href="" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Sumar mi iniciativa</a>
                    <a href="" class="block px-4 py-2 text-gray-700 hover:bg-gray-100">Sumar mi actividad</a>
                </div>
            </div>
            <!-- User Profile -->
            <a href="/mi-cuenta/" class="flex items-center space-x-2">
                <img class="h-8 w-8 rounded-full" src="/img/avatar.webp" alt="Tatiana Oviedo">
                <div class="text-right">
                    <p class="text-sm text-gray-900">Tatiana Oviedo</p>
                    <p class="text-xs text-green-500">AGENTE VERDE</p>
                </div>
            </a>
        </div>
    </nav>
</header>
