---

---

<div class="w-64 h-[100%] p-4 bg-white rounded shadow-xl">
    <ul class="space-y-2">
      <li><a href="/mi-cuenta/mis-actividades" class="flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded"><span>Mis Actividades</span></a></li>
      <li><a href="/mi-cuenta/mis-cursos" class="flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded"><span>Mis Cursos</span></a></li>
      <li><a href="/mi-cuenta/mis-puntos" class="flex items-center p-2 text-gray-700 hover:bg-gray-100 rounded"><span>Mis Puntos</span></a></li>
      <hr>
      <li><a href="/mi-cuenta" class="flex gap-2 items-center p-2 text-gray-700 hover:bg-gray-100 rounded">
        <img src="/img/Icon-person.svg" alt="Icono de persona">
        <span>Mis Datos</span>
      </a></li>
      <li><a href="#" class="flex gap-2 items-center p-2 text-gray-700 hover:bg-gray-100 rounded">
        <img src="/img/Icon-logout.svg" alt="Icono de logout">
        <span>Cerrar Sesión</span>
      </a></li>
    </ul>
  </div>
  