---
import Header from '../../components/Header.astro';
import UserProfile from '../../components/UserProfile.astro';
import SidebarMenu from '../../components/SidebarMenu.astro';
import Layout from '../../layouts/Layout.astro';
import HeaderSection from '../../sections/HeaderSection.astro';
---

<Layout title="Mapa Verde">
	<Header />
	<HeaderSection imgSrc="/img/mi-cuenta.png" bgColor="bg-violet-700" />
	<section class="max-w-7xl mx-auto">
		<div class="p-6">
			<UserProfile imgSrc="/img/avatar.webp" name="Tatiana Oviedo" role="Agente Verde" />
		</div>

		<div class="flex">
			<SidebarMenu />
			<div class="flex-1 p-6">
			  <h1 class="text-2xl font-bold mb-4">Mis datos</h1>
			  <form class="grid grid-cols-2 gap-4">
				<div>
				  <label class="block text-gray-700">Nombre</label>
				  <input type="text" class="w-full p-2 border border-gray-300 rounded" placeholder="Nombre" />
				</div>
				<div>
				  <label class="block text-gray-700">Apellido</label>
				  <input type="text" class="w-full p-2 border border-gray-300 rounded" placeholder="Apellido" />
				</div>
				<div>
				  <label class="block text-gray-700">Género</label>
				  <input type="text" class="w-full p-2 border border-gray-300 rounded" placeholder="Género" />
				</div>
				<div>
				  <label class="block text-gray-700">Localidad</label>
				  <input type="text" class="w-full p-2 border border-gray-300 rounded" placeholder="Departamento, Localidad" />
				</div>
				<div>
				  <label class="block text-gray-700">Iniciativa de la que forma parte</label>
				  <input type="text" class="w-full p-2 border border-gray-300 rounded" placeholder="Seleccionar iniciativa" />
				</div>
				<div>
				  <label class="block text-gray-700">Fecha de nacimiento</label>
				  <input type="text" class="w-full p-2 border border-gray-300 rounded" placeholder="01/01/1998" />
				</div>
			  </form>
			  <div class="mt-6">
				<h2 class="text-xl font-semibold">Mi dirección de email</h2>
				<div class="flex items-center mt-2">
				  <img src="/img/mail.svg" alt="Icono de email">
				  <div class="ml-2">
					<p>tatianaoviedo@gmail.com</p>
					<p class="text-gray-500 text-sm">Hace 1 mes</p>
				  </div>
				</div>
				<button class="mt-4 px-4 py-2 bg-blue-500 text-white rounded">+ editar datos</button>
			  </div>
			</div>
		  </div>

	</section>
</Layout>